@media(max-width:1164px){
    .logo-img{
        width: 15rem;
    }
    .right{
        width: 50%;
    }
    .right h1{
        font-size: 1.7rem;
    }
    .right p{
        font-size: 1rem;
    }
    
    .right button{
        margin-top: 10%;
        padding: 10px 70px;
    }
}
@media(max-width:680px){
    .main-section{
        flex-direction: column;
        padding: 0 5%;
    }
    .logo-img{
        width: 10rem;
        margin: 5% 0 10% 5%;
    }
    .left{
        width: 100%;
    }
    .right{
        text-align: center;
        width: 100%;
        align-self: center;
        margin-left: 0;
    }
    .right h1{
        font-size: 1.5rem;
    }
    .right p{
        font-size: 0.95rem;
    }
    .right button{
        margin-top: 10%;
        padding: 10px 70px;
    }

}