*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);

}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-section{
    display: flex;
    align-items: center;
    margin: 3% 5% 0 5%;
}
.logo{
    margin: 0% 5%;
}
.left{
    width: 50%;
}
.illustration-mockups{
    width: 100%;
}
.right{
    width: 40%;
    align-self: flex-start;
    color: white;
    margin-left: 3%;
}
.right h1{
    font-size: 3rem;
    margin:5% 0 5% 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.right p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
}
.right button{
    margin: 5% 0;
    padding: 15px 70px;
    border-radius: 30px;
    outline: none;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: hsl(271, 78%, 34%);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.329);
    border: 2px solid hsl(271, 78%, 34%);
    font-size: 1rem;
}
.attribution{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.attribution a{
    color: rgb(251, 140, 255);
}
.sm{
    margin: 0 5% 3% 5%;
    display: flex;
    justify-content: flex-end;
}

.fab{
    margin-right: 15px;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* active state */
.right button:hover{
    background-color: rgb(251, 140, 255);
    color: white;
}
.fab:hover{
    color: #ff52bf;
    border: 1px solid #ff52bf;
}
